* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

footer {
    width: 100%;
    color: white;
}

.container-all {
    width: 100%;
    max-width: 1200px;
}

.container-body {
    display: flex;
}