@charset "utf-8";

/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.cf {
    clear: both;
    position: relative;
    display: block;
}
html {
    scroll-behavior: smooth;
  }
body {
    background: #FFFFFA;
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

header {
    width: 100%;
    margin: 0;
    position: fixed;
    z-index: 100;
}

header nav {
    width: 100%;
    background: #0071bd;
    z-index: 20;
    height: 100%;
}

.menu_bar {
    display: none;
    z-index: 10;
}

header nav ul {
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

header nav ul li {
    float: right;
    height: 100%;
}

header nav ul li a {
    color: #fff;
    padding: 20px;
    display: block;
    text-decoration: none;
    height: 100%;
}

header nav ul li span {
    margin-right: 10px;
}

header nav ul li a:hover {
    background: #0065a8;
}

.principal-image img {
    width: 100%;
    height: auto;
    margin: 0;
}

section {
    width: 100%;
    flex-wrap: wrap;
}

section p {
    width: 80%;
    margin: auto;
    text-align: justify;
}

footer {
    width: 100%;
    padding-top: 80px;
    margin-top: 3%;
    background-color: #0071bd;
    height: auto;
}

.container-info {
    margin-top: 5%;
}

.container-image {
    margin-top: 5%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0, 113, 189, 0.4);
    background-attachment: fixed;
    background-size: cover;
    border-radius: 20px;
}

.container-image img {
    margin-left: 10%;
    width: 20%;
    height: auto;
}

.container-image .text-image {
    width: 60%;
    margin-left: 10%;
}

.container-image .text-image * {
    margin: 0;
    width: 100%;
    color: white;
    padding-top: 5%;
}


/* ==================================================
 About
================================================== */

.about-section {
    width: 100%;
    flex-wrap: wrap;
    padding-bottom: 80px;
    background-image: linear-gradient(to bottom right,rgba(255,255,255,0.4) ,rgba(0, 113, 189, 0.4));/*Aqui*/
    margin: 0;
}

.about-section2 {
    width: 100%;
    flex-wrap: wrap;
    padding-bottom: 80px;
    background-image: linear-gradient(to bottom right,rgba(255,255,255,0.4) ,rgba(0, 113, 189, 0.4));/*Aqui*/
    margin: 0;
    padding: 0%;
}

.about-section p {
    font-size: 23px;
    line-height: 30px;
    margin-top: 0;
    padding: 15px;
}

.about {
    width: 44%;
    margin: 3%;
    display: flex;
    float: left;
    justify-content: center;
    border: 10px solid rgba(255, 255, 255, 0.1);
    background: rgba(0, 113, 189, 0.61);
}

.val {
    display: block;
    text-align: center;
}

.image-principal {
    width: 100%;
    flex-wrap: wrap;
    background-image: url(../img/bg-about.jpg);
    height: 160px;
}

.image-principal h1 {
    width: 100%;

    color: #fff;
    text-align: center;
    padding-top: 30px;
}

.image-principal h2 {
    width: 100%;

    color: #fff;
    text-align: center;
    padding-top: 30px;
}

.about-section h2 {
    color: #000;
    width: 100%;

    text-align: center;
    font-size: 35px;
    line-height: 35px;
}

.container-about {
    max-height: 50px;
    overflow: hidden;
    transition: all 1s ease-in 0s;
    -o-transition: all 1s ease-in 0s;
    -ms-transition: all 1s ease-in 0s;
    -moz-transition: all 1s ease-in 0s;
    -khtml-transition: all 1s ease-in 0s;
    -webkit-transition: all 1s ease-in 0s;
}

.about:hover .container-about {
    max-height: 450px;
}

#header {
    color: #fff;
}

.servicios {
    width: 30%;
    padding-left: 3%;
    display: flex;
    float: left;
    justify-content: center;
}

.serv {
    display: block;
    text-align: center;
}

.descripcion {
    width: 50%;
    padding-left: 2%;
    float: left;
    justify-content: center;
}

#valor {
    background-image: url(../img/bg-val.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #0071bd;
}

.why {
    width: 23%;
    margin: 1%;
    display: flex;
    float: left;
    justify-content: center;
}

.rason {
    display: block;
    text-align: center;
}

.rason i {
    font-size: 60px;
    color: #0071bd;
}

.imageval {
    padding-top: 10px;
}

.container-why {
    padding: 15px;
}

.descripcion img
{
    border-radius: 20px;
}

/* ==================================================
 Servicios
================================================== */

.image-services {
    width: 100%;
    background-image: url("../img/mt.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    margin: 0;
}

.image-text {
    width: 100%;
    background-color: rgba(0, 17, 255, 0.6);
    margin: 0;
    color: white;
    align-items: center;
}

.image-text * {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    text-align: center;
    padding-top: 10%;
}

.image-text h1 {
    font-size: 60px;
}

.image-text p {
    padding-bottom: 5%;
    font-size: 30px;
}

.container-services {
    background-image: url("../img/mt.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    margin: 0;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
}

.container-services * {
    margin: 0;
    color: white;
}

.servicio1 {
    width: 25%;
    background-color: rgba(255, 187, 42, 0.6);
}

.servicio2 {
    width: 25%;
    background-color: rgba(42, 255, 60, 0.6);
}

.servicio3 {
    width: 25%;
    background-color: rgba(188, 42, 255, 0.6);
}

.servicio4 {
    width: 25%;
    background-color: rgba(255, 42, 42, 0.6);
}

.servicio1:hover {
    background-color: rgba(255, 187, 42, 0.8);
}

.servicio2:hover {
    background-color: rgba(42, 255, 60, 0.8);
}

.servicio3:hover {
    background-color: rgba(188, 42, 255, 0.8);
}

.servicio4:hover {
    background-color: rgba(255, 42, 42, 0.8);
}

.container-services div img {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    height: auto;
    padding-bottom: 5%;
    transition: width 2s, height 4s;
}
.container-services div:hover img {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.container-services div h1 {
    text-align: center;
}

.container-services div p {
    width: 100%;
    margin: 0;
    text-align: center;
}

.logo {
	padding-left: 20px;
	padding-bottom: 0;
}

.customer-logos-slider {
    width: 100%;
    margin: 0;
}

.clientes {
    width: 100%;
    margin: 0;
}

.clientes h1 {
    text-align: center;
}
/* ==================================================
 Contacto formulario
================================================== */
.form-container{
    width: 100%;
    padding-bottom: 100px;
    margin: 0 auto;
    background-image: url(../img/bg-contacto.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #0071bd;
    
}
.bloqueform{
    width: 55%;
    display: flex;
    background-color:#fff;
    margin: auto;
    margin-top: 40px;
}
.titleform{
    display: flexbox;
}
.form, .social{
    width: 50%;
    display: flex;
    float: left;
    margin: 0 auto;
    padding: 50px;
}
.form{
    padding: 50px;
}
.social{
    display: flex;
    background-color: #0071bd;

}
#tel, #fb, #mail{
    
    color: #000;
    font-size: 28px;
    text-align: center;
    display: inline-block;
    width: 45px;
    height: 45px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}
.info{
    margin: auto;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 6px; 
    resize: vertical 
  }
  
  input[type=submit] {
    background-color: #000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #0071bd;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }


  .test {
	width: 10%;
	height: 100%;
	transition: width 2s, height 4s;
  }
  
  .test:hover {
	width: 300px;
  }

  a:link, a:visited {
	color: white!important;
	text-align: center!important;
	text-decoration: none!important;
  }
  
  a:hover, a:active {
	  text-decoration: none!important;
	  color: white!important;
  }
@media screen and (max-width:800px) {
    .test {
        width: 100%;
        height: auto;
        transition: width 2s, height 4s;
      }
    .descripcion {
        width: 100%;
        margin: 0;
    }
    header {
        padding-bottom: 80px;
    }
    header nav {
        width: 50%;
        height: 100%;
        left: -100%;
        margin: 0;
        position: fixed;
        background: #0071bd;
    }
    header nav ul li {
        display: block;
        float: none;
        height: auto;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
    }
    .menu_bar {
        display: block;
        position: fixed;
        width: 100%;
        background: #ccc;
    }
    .menu_bar .bt-menu {
        display: block;
        padding: 20px;
        height: 80px;
        background: #0071bd;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .menu_bar .bt-menu p {
        display: none;
    }
    .menu_bar span {
        float: right;
        font-size: 40px;
    }
    .logo {
        width: 50%;
        padding-bottom: 20px;
        margin-left: 25%;
        margin-right: 25%;
        padding-left: 0;
    }
    .container-image img {
        width: 100%;
        height: auto;
    }
    .container-image .text-image {
        width: 100%;
        margin: 0;
    }
    .container-image .text-image * {
        margin: 0;
        width: 100%;
    }
/* ==================================================
     About responsive
================================================== */
    .about-section {
        width: 100%;
        flex-wrap: wrap;
        padding-bottom: 40px;
        margin: 0;
    }
    .about {
        display: block;
        pointer-events: none;
        height: 560px;
        width: 90%;
        margin: 4%;
        border: 0px solid rgba(255, 255, 255, 0.1);
        padding-bottom: 20px;
    }
    .val {
        display: block;
    }
    .image-principal {
        background-image: url(../img/bg-about-respon.jpg);
        height: 160px;
    }
    .image-principal h1 {
        text-align: center;
        padding-top: 60px;
    }
    .servicios {
        width: 48%;
        float: left;
        padding-left: 0;
    }
    .about-section p,
    .descripcion img {
        width: 100%;
        padding: 0px;
    }
    .why {
        width: 50%;
        margin: 0;
        float: left;
        padding-left: 0
    }
    .container-why {
        padding: 0;
    }
    .container-why h3 {
        font-size: 20px;
    }
    .container-about {
        height: 550px;
    }
    .about .container-about {
        height: 450px;
    }
    .container-about {
        overflow: visible;
    }

    /* ==================================================
 Servicios
================================================== */
    .image-services {
        background-size: cover;
        margin: 0;
    }
    .image-text * {
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        text-align: center;
        padding-top: 5%;
    }
    .image-text h1 {
        font-size: 40px;
    }
    .image-text p {
        padding-bottom: 5%;
        font-size: 30px;
    }
    .container-services {
        background-size: cover;
    }
    .container-services div {
        width: 100%;
    }
    .container-services div img {
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
        height: auto;
    }
    .container-services div:hover img {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        height: auto;
    }
}


/* ==================================================
     Boton top 
================================================== */

#button {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.479);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    margin: 30px;
    position: fixed;
    bottom: 30px;
    right: 10px;
    transition: background-color .3s;
    z-index: 1000;
}

#button:hover {
    cursor: pointer;
    background-color: rgba(255, 42, 42, 0.945);
}

#button:active {
    background-color: rgba(42, 56, 255, 0.6);
}

#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

.show {
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
}


/* ==================================================
     Footer Responsive
================================================== */

footer {
    width: 100%;
    color: white;
}

.container-all {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
    box-sizing: border-box;
}

.container-body {
    display: flex;
    justify-content: space-between;
}

.columna1 {
    max-width: 300px;
}

.columna1 h1 {
    font-size: 22px;
}

.columna1 p {
    font-size: 14px;
    text-align: justify;
    text-justify: inter-palabra;
    margin-top: 20px;
}

.columna2 {
    max-width: 400px;
}

.columna2 h1 {
    font-size: 22px;
}

.row {
    margin-top: 20px;
    display: flex;
}

.row img {
    width: 36px;
    height: 36px;
}

.row label {
    margin-top: 10px;
    margin-left: 20px;
    color: white;
}

.columna3 {
    max-width: 400px;
}

.columna3 h1 {
    font-size: 22px;
}

.row2 {
    margin-top: 15px;
    display: flex;
}

.row2 img {
    width: 36px;
    height: 36px;
}

.row2 label {
    margin-left: 20px;
    max-width: 200px;
    margin-top: 10px;
}

.container-footer {
    width: 100%;
    background: #101010;
}

.footer {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.copyright {
    color: white;
}

.copyright a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.informacion a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 1100px) {
    .container-body {
        flex-wrap: wrap;
    }
    .columna1 {
        max-width: 100%;
    }
    .columna2,
    .columna3 {
        margin-top: 40px;
    }
    /* ==================================================
     Formulario contacto responsive
================================================== */
.bloqueform{
    width: 90%;
    display: block;
    background-color:#fff;
    margin: auto;
    margin-top: 70px;
}

.titleform{
    display: flexbox;
}
.form, .social{
    width: 100%;
    margin: 0 auto;
    padding: 50px;
    float: none;
}

}


