@charset "utf-8";
/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
body {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
.cf{
	clear:both;
	position:relative;
	display:block;
}
body {
    background: #FFFFFA;
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
h1, h2, h3, h4, p {
    text-align: center;
}
header {
    width: 100%;
    margin: 0;
}

header nav {
    width: 100%;
    background: #0071bd;
}

.menu_bar {
    display: none;
}

header nav ul {
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    float: left;
}

header nav ul li a {
    color: #fff;
    padding: 20px;
    display: block;
    text-decoration: none;
}

header nav ul li span {
    margin-right: 10px;
}

header nav ul li a:hover {
    background: #0071bd;
}

.principal-image img
{
    width: 100%;
    height: auto;
    margin: 0;
}

section {
    width: 100%;
    flex-wrap: wrap;
}
section p {
    width: 80%;
    margin: auto;
    text-align: justify;
}
footer{
    width: 100%;
    padding-top: 80px;
    margin-top: 5%;
    background-color: #0071bd;
    height: auto;
}

.container-info
{
    margin-top:5%;
}

.container-image
{
    
    margin-top:5%;
}

.container-image
{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.container-image 
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.container-image  img
{
    width: 40%;
    height: auto;
}

.container-image .text-image
{
    width: 50%;
    margin-left: 10%;
}

.container-image .text-image *
{
    margin: 0;
    width: 100%;
}
/* ==================================================
 About
================================================== */
.about-section{
    width: 100%;
    flex-wrap: wrap;
    padding-bottom: 80px;
}
.about-section p{
    font-size: 23px;
    line-height: 30px;
    margin-top: 0;
}
.about{
    width: 24.3%;
    margin: 3.2%;
    display: flex;
    float: left;
    justify-content: center;
    border: 10px solid rgba(255,255,255,0.1);
    background: rgba(0, 113, 189, 0.61);
}
.val{
    display: block;
    text-align: center;
}
.image-principal{
    width: 100%;
    flex-wrap: wrap;
    background-image: url(../img/bg-about.jpg);
    height: 160px;
}
.image-principal h1{
    color: #fff;
    text-align: center;
    padding-top: 30px;
}
.about-section h2{
    color: #000;
    text-align: center;
    font-size: 35px;
    line-height: 35px;
    
}
.container-about{
    max-height: 50px;
    overflow:hidden;
    transition:all 1s ease-in 0s;
	-o-transition:all 1s ease-in 0s;
	-ms-transition:all 1s ease-in 0s;
	-moz-transition:all 1s ease-in 0s;
	-khtml-transition:all 1s ease-in 0s;
	-webkit-transition:all 1s ease-in 0s;
}
.about:hover .container-about{
    max-height: 450px;
}
#header{
    color: #fff;
}
.servicios{
    width: 30%;
    padding-left: 3%;
    display: flex;
    float: left;
    justify-content: center;
}
.serv{
    display: block;
    text-align: center;
}
.descripcion{
    width: 45%;
    padding-left: 2%;
    display: block;
    float: left;
    justify-content: center;
}
.descripcion img{
    width: auto;
}
#valor{
    background-image: url(../img/bg-val.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #0071bd;
}
.why{
    width: 22%;
    padding-left: 2%;
    display: flex;
    float: left;
    justify-content: center;
}
.rason{
    display: block;
    text-align: center;
}
.rason i{
    font-size: 60px;
    color: #0071bd;
}
.imageval{
    padding-top: 10px;
}
.container-why{
    padding: 15px;
}
@media screen and (max-width:800px) {

    header{
        padding-bottom: 80px;
    }
    header nav {
        width: 50%;
        height: 100%;
        left: -100%;
        margin: 0;
        position: fixed;
        background: rgba(2, 73, 89, 1);
    }
    header nav ul li {
        display: block;
        float: none;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
    }
    .menu_bar {
        display: block;
        position: fixed;
        width: 100%;
        background: #ccc;
    }
    .menu_bar .bt-menu {
        display: block;
        padding: 20px;
        height: 80px;
        background: rgba(2, 73, 89, 1);
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .menu_bar .bt-menu p {
        display: none;
    }
    .menu_bar span {
        float: right;
        font-size: 40px;
    }
    .logo {
        width: 50%;
        display: block;
        margin: auto;
    }
    .container-image  img
    {
    width: 100%;
    height: auto;
    }

    .container-image .text-image
    {
    width: 100%;
    margin: 0;
    }

    .container-image .text-image *
    {
    margin: 0;
    width: 100%;
    }
/* ==================================================
     About responsive
================================================== */
    .about-section{
        width: 100%;
        flex-wrap: wrap;
        padding-bottom: 40px;
    }
    .about{
        display: block;
        pointer-events: none;
        height: 450px;
        width: 95%;
        border: 0px solid rgba(255,255,255,0.1);
        padding-bottom: 20px;
    }
    .val{
        display: block;
    }
    .image-principal{
        background-image: url(../img/bg-about-respon.jpg);
        height: 160px;
    }
    .image-principal h1{
        text-align: center;
        padding-top: 60px;
    }
    .servicios{
        width: 50%;
        float: left;
        padding-left: 0;
    }
    .about-section p, .descripcion{
        padding: 0px;
    }
    .descripcion{
        width: 100%;
        display: block;
        justify-content: center;
    }
    .why{
        width: 50%;
        float: left;
        padding-left: 0;
    }
    .container-about{
        height: 550px;
    }
    .about .container-about{
        height: 450px;
    }
    .container-about{
        overflow: visible;
    }
}
/* ==================================================
     footer 
================================================== */
footer {
    width: 100%;
    color: white;
}

.container-all {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
    box-sizing: border-box;
}

.container-body {
    display: flex;
    justify-content: space-between;
}

.columna1 {
    max-width: 400px;
}

.columna1 h1 {
    font-size: 22px;
}

.columna1 p {
    font-size: 14px;
    text-align: justify;
    text-justify: inter-palabra;
    margin-top: 20px;
}

.columna2 {
    max-width: 400px;
}

.columna2 h1 {
    font-size: 22px;
}

.row {
    margin-top: 20px;
    display: flex;
}

.row img {
    width: 36px;
    height: 36px;
}

.row label {
    margin-top: 10px;
    margin-left: 20px;
    color: white;
}

.columna3 {
    max-width: 400px;
}

.columna3 h1 {
    font-size: 22px;
}

.row2 {
    margin-top: 20px;
    display: flex;
}

.row2 img {
    width: 36px;
    height: 36px;
}

.row2 label {
    margin-left: 20px;
    max-width: 140px;
    margin-top: 10px;
}

.container-footer {
    width: 100%;
    background: #101010;
}

.footer {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.copyright {
    color: white;
}

.copyright a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.informacion a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 1100px) {
    .container-body {
        flex-wrap: wrap;
    }
    .columna1 {
        max-width: 100%;
    }
    .columna2,
    .columna3 {
        margin-top: 40px;
    }
}